footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 10vh;
	width: 100vw;
	/* background: linear-gradient(transparent, rgba(221, 160, 221, 0.664)); */
	display: flex;
	font-size: 1.5vw;
	background: linear-gradient(transparent, rgba(219, 95, 230, 0.25));
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	/* border: 3px solid rgba(255, 255, 255, 0.18); */
}
footer div:nth-child(1) {
	width: 10vw;
}
footer div:nth-child(3) {
	width: 10vw;
}
.footer-center {
	flex-grow: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.4;
}
.fa-copyright {
	cursor: default;
}
