header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 15vh;
	/* background: rgba(0, 128, 128, 0.7); */
	/* box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px; */
	background: linear-gradient(rgba(0, 128, 128, 0.7), rgba(0, 120, 120, 0.7));
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 7vh;
}
.header__icon {
	width: 15vw;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__icon i {
	cursor: default;
}
@keyframes bingle {
	0% {
		transfrom: rotate(0deg);
	}
	50% {
		transform: rotate(180deg) scale(1.5);
	}
	100% {
		transform: rotate(360deg);
	}
}
.header__icon i:hover {
	animation: bingle linear infinite 1.5s;
}
.header__username {
	height: 15vh;
	flex-grow: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vh;
}
#header__heading {
	width: 80%;
	height: 50%;
	padding: 0 1.5%;
}
.header__heading-inv {
	display: none;
}
.header__heading {
	font-size: 7vh;
}
.header__empty {
	width: 15vw;
	height: 15vh;
}
@media screen and (max-width: 768px) {
	header {
		font-size: 4vh;
		height: 12vh;
	}
	#header__heading::placeholder {
		font-size: 4vh;
	}
	.header__heading {
		font-size: 4vh;
	}
	.header__icon i:hover {
		animation: none;
	}
}
